.movieHolder {
  background: #fff;
  margin-top: 30px;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.posterHolder {
  background: #f0f0f0;
  min-height: 100px;
  position: relative;
}

.posterHolder img {
  width: 100%;
}

.descHolder {
  padding: 15px 15px 15px 15px;
}

.voteCount {
  position: absolute;
  left: 15px;
  top: 15px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-size: 18px;
  background: #f4dac9;
  color: #000;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

.movieTitle {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #5d3c79;
}

.movieOverview {
  margin-top: 15px;
}

.releaseDate {
  font-size: 12px;
  margin-top: 10px;
}

.releaseDate span {
  font-weight: bold;
}
.releaseDate + .releaseDate {
  margin-top: 0;
}

.movieHolder:hover {
  box-shadow: 0 0 15px rgba(93, 60, 121, 0.1);
  cursor: pointer;
}

.movieHolder:hover .movieTitle {
  color: #000000;
}

.releaseDate ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.releaseDate ul li {
  display: inline;
}

.releaseDate ul li:not(:last-child):after {
  content: ", ";
}

@media (min-width: 767px) {
  .descHolder {
    padding: 15px 30px 15px 0;
  }
}
